<% include partials/header %>

<h2> campgrounds </h2>

<ul>
  <% campgrounds.map((campground) => { %>
    <li>
      <h3> <%= campground.name %> </h3>
      <img src='<%= campground.image %>' alt='campground image' />
    </li>
  <% }) %>
</ul>

<a href='/campgrounds/new'> add new </a>

<% include partials/footer %>
