ul {
 list-style: none;
}

.input {
  margin-top: 10px;
  margin-bottom: 10px;
}

.form {
  margin-bottom: 50px;
}

.title {
  margin-bottom: 20px;
}

.form-container {
  width: 50%;
  margin: 30px auto;
}
